<script type="text/javascript" charset="utf-8">
  <%= erb :plate_json %>
</script>

<h1>Plate Viewer - Dummy Information</h1>
<br/>
<table class="plate">
    <tr>
      <th class="first-col">&nbsp;</th>
      <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
      <% end %>
    </tr>


    <% @well_hash.each do |row_label, row_wells| %>
      <tr>
        <th class="first-col"><%= row_label %></th>
        <% row_wells.each_with_index do |well, index| %>
          <td>
            <div class="holder">
              <div id="<%= "well_#{row_label}#{index + 1}" %>" rel="#<%= "details_#{row_label}#{index + 1}" %>"  class="well">
                &nbsp;
              </div>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
</table>
<br/>

<form action="">
  <div id="plate-control" class="ui-buttonset">
    <input id="showLocation" class="ui-helper-hidden-accessible" type="radio" checked="checked" name="radio"/>
    <label class="ui-state-active ui-button ui-widget ui-button-text-only ui-corner-left" for="showLocation" >
      <span class="ui-button-text">Location</span>
    </label>
    <input id="showConcentration" class="ui-helper-hidden-accessible" type="radio" name="radio" />
    <label class="ui-button ui-widget ui-state-default ui-button-text-only" for="showConcentration">
      <span class="ui-button-text">Concentration</span>
    </label>
    <input id="showGelQc" class="ui-helper-hidden-accessible" type="radio" name="radio" />
    <label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" for="showGelQc">
      <span class="ui-button-text">Gel QC</span>
    </label>
  </div>
</form>
<br/>

<script type="text/template" id="details-template">
  <div class="details-template" id="details_<%%= map %>">
  	<img src="/images/well_side_on.png" \/>
  	<div class="details">
  		<h3>Well Details<\/h3>
  		<h4>Sample Name:<%%= sample_name %><\/h4>

  		<p>The content ...<\/p>
  	<\/div>
  <\ /div>  
</script>
